# Environments
.env
.env.*
!.env.example

# Database
data.db
*.sqlite
*.sqlite3

# Sessions
sessions/
*.session
*.session-journal

# Python
__pycache__/
*.py[cod]
*$py.class

# IDE / Editor specific
.vscode/
.idea/
*.swp

# Instructions
instruction.md
